body{
    margin: -2px -1px 0 -1px;
}

nav {
    background-color: rgb(248, 248, 248);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
    border-top: 1px solid rgb(197, 197, 197);
}
nav div p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: blueviolet;
}

nav a:hover {
        text-decoration: underline;
}

.container{
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

.item-1{
    background-color: green;
}
.item-2{
    background-color: red;
}
.item-3{
    background-color: blue;
}
.item-4{
    background-color: yellow;
}

.container-2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: aqua;
}

.container-2 img{
    width: 200px;
    height: 200px;
    
}

.fils2 {
    background-color: chartreuse;
}

.fils3 {
    background-color: blueviolet;
}

.container-3{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.a {
    background-color: antiquewhite;
    width: 15%;
}

.z {
    background-color: rgb(59, 41, 17);
    width: 15%;
}

.e {
    background-color: rgb(32, 128, 72);
    width: 25%;
}

.r {
    background-color: rgb(22, 81, 158);
    width: 12%;
}

.t {
    background-color: rgb(194, 14, 140);
    width: 15%;
}

.y {
    background-color: antiquewhite;
    width: 8%;
}

.u {
    background-color: rgb(216, 14, 14);
    width: 10%;
}

.i {
    background-color: rgb(34, 119, 0);
    width: 15%;
}

.o {
    background-color: rgb(83, 57, 81);
    width: 30%;
}

.p {
    background-color: antiquewhite;
    width: 40%;
}

